<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @agenda.title %>
</p>

<p>
  <b>Body:</b>
  <%= @agenda.body %>
</p>

<p>
  <b>Week:</b>
  <%= @agenda.week %>
</p>

<p>
  <b>Featured:</b>
  <%= @agenda.featured %>
</p>

<p>
  <b>Instructor:</b>
  <%= @agenda.instructor_id %>
</p>

<p>
  <b>Status:</b>
  <%= @agenda.status %>
</p>


<%= link_to 'Edit', edit_agenda_path(@agenda) %> |
<%= link_to 'Back', agendas_path %>
