<div class="<%= class_name %>">
  <p class="title"><%= link_to announcement.title, announcement_path(announcement) %></p>
  <div class="body-text"><%= raw truncate(announcement.body, :length => 300, :omission => '...') %></div>
  <% unless announcement.doc.blank? %>
    <div class="attachment">
      <span>View File: <%= link_to File.basename(announcement.doc.path), announcement.doc_url, :target => "_blank"  %></span>
    </div>
  <% end %>
  <br/>
  <div class="instructor-info">
    <p>Created by <%= announcement.instructor.email unless announcement.instructor.blank? %>, <%= time_ago_in_words(announcement.created_at) %> ago</p>
  </div>
</div>



