<div class="<%= class_name %>">
  <% if current_user && announcement.unread?(current_user)%>
    <p class="title"><%= link_to announcement.title + " (unread)", announcement_path(announcement) %></p>
  <% else %>
    <p class="title"><%= link_to announcement.title, announcement_path(announcement) %></p>
  <% end %>
    
  <div class="body-text"><%= raw truncate(announcement.body, :length => 300, :omission => '...') %></div>
  <% unless announcement.doc.blank? %>
    <div class="attachment">
      <span>View File: <%= link_to File.basename(announcement.doc.path), announcement.doc_url, :target => "_blank", :class=>"btn", :style=>"color: black;"  %></span>
    </div>
  <% end %>
  <br/>
  <div class="instructor-info">
    <p><%= image_tag(announcement.instructor.photo_url, :width => 30) %> Created by <%= announcement.instructor.email unless announcement.instructor.blank? %>, <%= time_ago_in_words(announcement.created_at) %> ago</p>
  </div>
</div>



