<p id="notice"><%= notice %></p>


<div class="item">
  <h2><%= @announcement.title.humanize %> Announcement</h2>
  <div class="body">
    <div class="body-text"><%= raw @announcement.body %></div>
    <p class="instructor-info">Created by <%= @announcement.instructor.email unless @announcement.instructor.blank? %>, <%= time_ago_in_words(@announcement.created_at) %> ago</p>
    <% unless @announcement.doc.blank? %>
      <div class="attachment">
        <span>Attachment: <%= File.basename(@announcement.doc.path) %></span>
        <span><%= link_to "Download", @announcement.doc_url, :class => "btn"  %></span>
      </div>
    <% end %>
    
  <div>
</div>


