<div class="profile-item">
  <div class="profile-pix" style="float: left;">
    <%= image_tag(instructor.photo_url(:thumb)) %>
  </div>
  <div class="profile-text">
    <p class="name-info">
      <span><%= "#{instructor.firstname} " unless instructor.firstname.blank? %></span>
      <span><%= instructor.lastname unless instructor.lastname.blank? %></span>
    <p class="body-text"><%= truncate(instructor.description, :length => 360, :omission => "..." ) %></p>  
    <p class="email-info"><%= instructor.email %></p>
    <p><%= link_to "Full Profile...", instructor_path(instructor) %></p>
  </div>
  <div class="clearfix"></div>
</div>