<div class="profile-item">
  <div class="profile-pix" style="float: left;">
    <%= image_tag(user.photo_url(:thumb)) %>
  </div>
  <div class="profile-text">
    
    <p class="name-info">
      <span><%= "#{user.firstname} " unless user.firstname.blank? %></span>
      <span><%= user.lastname unless user.lastname.blank? %></span>
    </p>
    <p class="body-text"><%= truncate(user.description, :length => 360, :omission => "..." ) %></p>  
    <p class="email-info"><%= user.email %></p>
    <p><%= link_to "Full Profile...", user_path(user) %></p>
    
  </div>
  <div class="clearfix"></div>
</div>