<div class="hero-unit" style="min-width: 760px; max-width: 760px;">
  <div style="width: 780px; text-align: center;">
	<div style="margin: 0 auto;">
		<h2>IT in the D - Team Compuware</h2>
		<h3>Fall 2012</h3>
		<%= image_tag('students.jpg', :width => "240") %>
		<%= image_tag('chris.jpg', :width => "240") %>
		<%= image_tag('paul.jpg', :width => "240") %>
		
		
		<h3>IT in the D is a nonprofit collaboration of technology leaders in Detroit that provides continued education and work experience for IT professionals as they advance their technology careers.</h3>
		<br/>
		<p><%= link_to "IT in the D's Official Web Site", "http://www.itindetroit.com" %></p>
		<p><%= link_to "IT in the D in the News", "http://itindetroit.com/home/inthenews" %></p>
	</div>
  </div>
</div>