<div class="hero-unit" style="min-width: 760px; max-width: 760px;">
  <div style="width: 780px; text-align: center;">
	<div style="margin: 0 auto;">
		<h2>IT in the D - Team Compuware</h2>
		<%= image_tag('students.jpg', :width => "240") %>
		<%= image_tag('chris.jpg', :width => "240") %>
		<%= image_tag('paul.jpg', :width => "240") %>
		<p style="padding-top: 10px"><strong>IT in the D is a nonprofit collaboration of technology leaders in Detroit that provides continued education and work experience for IT professionals as they advance their technology careers.</strong></p>
		<br/>
		<p><%= link_to 'Sign in', new_user_session_path, :class=>"btn btn-primary" %></p>

	</div>
  </div>
</div>
<div style="text-align: center; style="width: 760px">
	<div style="margin: 0 auto;">
		<span><%= link_to "IT in the D's Official Web Site", "http://www.itindetroit.com" %></span>
		<span> | </span>
		<span><%= link_to "IT in the D in the News", "http://itindetroit.com/home/inthenews" %></span>
	</div>
</div>