<h1>Welcome to IT in the D Fall 2012 - Team Compuware</h1>
<%= image_tag('students.jpg', :width => "350") %>
<%= image_tag('chris.jpg', :width => "350") %>
<%= image_tag('paul.jpg', :width => "350") %>


<h3>IT in the D is a nonprofit collaboration of technology leaders in Detroit that provides continued education and work experience for IT professionals as they advance their technology careers.</h3>

<p><%= link_to "ITintheD's Official Web Site", "http://www.itindetroit.com" %></p>
<p><%= link_to "ITintheD in the News", "http://itindetroit.com/home/inthenews" %></p>