<% if @resource.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

    <ul>
    <% @resource.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="control-group">
  <%= f.label :title, :class => "control-label" %>
  <div class="controls">
    <%= f.text_field :title %>
  </div>
</div>

<div class="control-group">
  <%= f.label :description, :class => "control-label" %>
  <div class="controls">
    <%= f.text_field :description %>
  </div>
</div>

<div class="control-group">
  <%= f.label :link, :class => "control-label" %>
  <div class="controls">
    <%= f.text_field :link %>
  </div>
</div>

<div class="control-group">
  <%= f.label :week, :class => "control-label" %>
  <div class="controls">
	  <%= f.collection_select(:week_id, Week.all, :id, :title, :prompt => true) %>
  </div>
</div>

<div class="control-group">
	<%= f.label "Upload document", :class => "control-label" %>
	<div class="controls">
		<%= f.file_field :doc %>
	</div>
</div>

<div class="control-group">
  <div class="controls">
	<label class="checkbox">
	  <%= f.check_box :featured %>Suggest
	</label>
  </div>
</div>
    
<div class="actions control-group">
  <div class="controls">
	<span><%= f.submit :Create, :class =>"btn btn-primary" %></span>
  </div>
</div>
  

  
