<div class="<%= class_name %>">
  <p class="title"><%= resource.title %></p>
  <p class="body-text"><%= resource.description %></p>
  <p class="link"><%= link_to resource.link, resource.link unless resource.link.blank? %></p>
  <% unless resource.doc.blank? %>
    <div class="attachment">
      <span>Attachment: <%= File.basename(resource.doc.path) %></span>
      <span><%= link_to "Download", resource.doc_url, :class => "btn"  %></span>
    </div>
  <% end %>
  <p class="instructor-info">Created at <%= time_ago_in_words(resource.created_at) %> ago</p>
  <p><%= link_to "Destroy", admin_resource_path(resource), :method => :delete  %></p>
</div>