<div class="<%= class_name %>">
  <p class="title"><%= link_to agenda.week.title + ": " + agenda.title, agenda_path(agenda) %></p>
  <div class="body-text"><%= raw truncate(agenda.body, :length => 300, :omission => '...') %></div>
  <div class="tag_cloud">
    <%= render :partial => "tag_cloud", :locals => { :week => agenda.week } %>
  </div>
  <br/>
  <p class="instructor-info">Created by <%= agenda.instructor.email unless agenda.instructor.blank? %>, <%= time_ago_in_words(agenda.created_at) %> ago</p>
</div>  
