<p id="notice"><%= notice %></p>

<div class="item">
  <h2><%= @agenda.title.humanize %> session</h2>
  <div class="body">
    <div class="body-text"><%= raw @agenda.body %></div>
    <p class="instructor-info">Created by <%= @agenda.instructor.email unless @agenda.instructor.blank? %>, <%= time_ago_in_words(@agenda.created_at) %> ago</p>
    
  <div>
</div>
