<p id="notice"><%= notice %></p>

<div class="item">
  <h2><%= @agenda.title.humanize %> session</h2>
  <div class="body">
    <div class="body-text"><%= raw @agenda.body %></div>
    <div class="instructor-info">
      <p><%= image_tag(@agenda.instructor.photo_url, :width => 30) %> Created by <%= @agenda.instructor.email unless @agenda.instructor.blank? %>, <%= time_ago_in_words(@agenda.created_at) %> ago</p>
      <div class="tag_cloud">
        <%= render :partial => "tag_cloud", :locals => { :week => @agenda.week } %>
      </div>
    </div>
  <div>
</div>
