<div class="<%= class_name %>">
  <p class="title"><%= announcement.title %></p>
  <div class="body-text"><%= raw announcement.body %></div>
  <% unless announcement.doc.blank? %>
    <div class="attachment">
      <span>View File: <%= link_to File.basename(announcement.doc.path), announcement.doc_url, :target => "_blank"  %></span>
    </div>
  <% end %>
  <br/>
  <div class="instructor-info">
    <p>Created by <%= announcement.instructor.email unless announcement.instructor.blank? %>, <%= time_ago_in_words(announcement.created_at) %> ago</p>
    <% if announcement.featured %>
      <p>Featured</p>
    <% end %>
  </div>

  
  <div>
    <span><%= link_to "Edit", edit_admin_announcement_path(announcement) %></span>
    <span><%= link_to "Destroy", admin_announcement_path(announcement), :method => :delete  %></span>   
  </div>
</div>



