<div class="<%= class_name %>">
  <p class="title"><%= link_to announcement.title, announcement_path(announcement) %></p>
  <div class="body-text"><%= raw announcement.body %></div>
  <p class="instructor-info">Created by <%= announcement.instructor.email unless announcement.instructor.blank? %>, <%= time_ago_in_words(announcement.created_at) %> ago</p>
  <% unless announcement.doc.blank? %>
    <div class="attachment">
      <span>Attachment: <%= File.basename(announcement.doc.path) %></span>
      <span><%= link_to "Download", announcement.doc_url, :class => "btn"  %></span>
    </div>
  <% end %>
  
  <div>
    <span><%= link_to "Edit", edit_admin_announcement_path(announcement) %></span>
    <span><%= link_to "Destroy", admin_announcement_path(announcement), :method => :delete  %></span>   
  </div>
</div>



