<% if @announcement.errors.any? %>
  <div id="error_explanation">
	<h2><%= pluralize(@announcement.errors.count, "error") %> prohibited this announcement from being saved:</h2>

	<ul>
	<% @announcement.errors.full_messages.each do |msg| %>
	  <li><%= msg %></li>
	<% end %>
	</ul>
  </div>
<% end %>

<div class="control-group">
  <%= f.label :title, :class => "control-label" %>
  <div class="controls">
	<%= f.text_field :title, :class=>"span8" %>
  </div>
</div>
<div class="control-group">
  <%= f.label :body, :class => "control-label" %>
  <div class="controls">
	<%= f.text_area :body, :class => 'editor span8', :id => 'my_text_editor' %>
  </div>
</div>

<div class="control-group">
  <div class="controls">
	<label class="checkbox">
	  <%= f.check_box :featured %>Featured
	</label>
  </div>
</div>

<div class="control-group">
	<%= f.label "Upload document", :class => "control-label" %>
	<div class="controls">
		<%= f.file_field :doc %>
	</div>
</div>

<div class="actions control-group">
  <div class="controls">
	<span><%= f.submit :Create, :class =>"btn btn-primary" %></span>
	<span><%= link_to 'Cancel', admin_root_path, :class=> "btn" %></span>      
  </div>
</div>
