<div class="<%= class_name %>">
  <p class="title"><%= resource.title %></p>
  <p class="body-text"><%= resource.description %></p>
  <p class="link"><%= link_to resource.link, resource.link, :onclick => "mark_resource_as_read('#{resource.id}');" unless resource.link.blank? %></p>
  <% unless resource.doc.blank? %>
    <div class="attachment">
      <span>View File: <%= link_to File.basename(resource.doc.path), resource.doc_url, :target => "_blank"  %></span>
    </div>
    <br/>
  <% end %>
  <p class="instructor-info">Created at <%= time_ago_in_words(resource.created_at) %> ago</p>
</div>