<ul class="nav nav-tabs nav-stacked bs-docs-sidenav affix span2">
  <% if current_instructor || current_user %>
    <li><%= link_to "Announcements", announcements_path %></li>
    <li><%= link_to "Agendas", agendas_path %></li>
    <li><%= link_to "Stand Ups (Coming Soon)", "#" %></li>
    <li><%= link_to "Resources (Coming Soon)", "#" %></li>
    <!--<li><#%= link_to "Discussions", questions_path %></li>-->
    <li><%= link_to "Instructors", instructors_path %></li>
    <li><%= link_to "Students", users_path %></li>
  <% else %>
    <li><%= link_to "Instructors", instructors_path %></li>
  <% end %>
  
  
  
</ul>
