<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
  	<% if current_user || current_instructor %>
    	<%= link_to "IT in the D", root_path, :class => "brand", :style => "margin-left: 10px;" %>
    <% else %>
    	<%= link_to "IT in the D", about_page_path, :class => "brand", :style => "margin-left: 10px;" %>
    <% end %>
    <% if current_user || current_instructor %>
      <ul class="nav">
        <li class="agendas"><%= link_to 'Weekly Sessions', agendas_path %></li>
          <!--
          <li id="fat-menu" class="dropdown">
          
            <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">Weekly Agendas<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
              <li><#%= link_to "Current Week", agendas_path,  :tabindex => "-1" %></li>
              <li class="divider"></li>
              <li><a tabindex="-1" href="#">Week 1</a></li>
            </ul>
          -->
          </li>  
        </li>
        <li class="about"><%= link_to "About", about_page_path %></li>
      </ul>
    <% end %>
    <%= render :partial => "/layouts/signin" %>
  </div>
</div>
