<ul class="nav nav-tabs nav-stacked">
  <% if current_instructor %>
    <li><%= link_to "New Announcement", new_announcement_path,  :tabindex => "-1" %></li>
    <li><%= link_to "New Agenda", new_agenda_path,  :tabindex => "-1" %></li>
    <li><%= link_to "New Instruction", new_instruction_path,  :tabindex => "-1" %></li>
  <% end %>
  
  <% if current_instructor || current_user %>
    <li><%= link_to "New Discussion", new_question_path,  :tabindex => "-1" %></li>
    <li><%= link_to "New Resource", new_resource_path,  :tabindex => "-1" %></li>
  <% end %>
</ul>

<div class="hero-unit span10" style="margin-left: 10%; text-align: center;">
  CALENDAR
</div>