<!DOCTYPE html>
<html>
<head>
  <title>IT in the D - Team Compuware</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
  <script type="text/javascript" src="/ckeditor/adapters/jquery.js"></script>
  
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <%= render :partial => '/layouts/admin/navbar' %>
    <div class="row-fluid"  style ="padding-top: 60px">      
      <div class="span2">
        <%= render :partial => '/layouts/admin/leftnav' %>
      </div>   
      <div class="span10">     
        <%= yield %>
      </div>
    </div>
    <div class="row-fluid">
      <%= render :partial => '/layouts/footer' %>  
    </div>
  </div>
  
  <script>
  	$(document).ready(function() {
  		$( 'textarea.editor' ).ckeditor();
	});
  </script>
</body>
</html>
