<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IT in the D - Team Compuware</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row-fluid">
    <%= render :partial => '/layouts/navbar' %>
  </div>
  <div class="container-fluid">  
    <div class="row-fluid main_content">
      <div class="span2">
        <%= render :partial => '/layouts/leftnav' %>
      </div>
      <div class="span10">
        <% if flash[:notice] %>
          <div class="alert">
            <%= flash[:notice] %>
            <button type="button" class="close" data-dismiss="alert">×</button>
          </div>
        <% end %>     
        <%= yield %>
      </div>
    </div>
    <div class="row-fluid">
      <%= render :partial => '/layouts/footer' %>  
    </div>
  </div>
</body>
</html>
